.discounts {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 10px ;
}
.clearunderline {
    display: flex;
    width: 282px;
    height: 355px;
    border-radius: 10px;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    padding: 10px 15px 5px;
    font-family: 'Poppins', sans-serif;
    margin: 25px 8px ;
    background-color: #fff;
}
.framebutton{


}
.clearunderline:hover {
    background-color: rgba(250, 250, 250, 0.8);
    box-shadow: 3px 3px 10px #333;
    border: 2px;
}
.clearunderline:focus {
    outline: none;
    box-shadow: 3px 3px 10px #333;
    background: rgba(233,233,233,.7);
}
.discountprice{
    color: red;
}